# Rust build artifacts
target/
**/target/
Cargo.lock
# Allow sharing the program keypair
!.anchor/nft_id_contract-keypair.json
!.anchor/deployer-wallet.json

# Anchor build artifacts
.melon/
.anchor/
.docker/
programs/**/target/
tests/target/
tests/node_modules/

# Node.js & TypeScript
node_modules/
dist/
**/node_modules/

# Keys (DANGEROUS to push)
program-keypair.json
id.json

# VSCode & MacOS
.vscode/
.DS_Store

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

named-sunset-453004-p9-2a2a8558a42d.json